In [1]:
from dm import Country

In [11]:
usa = Country('USA', source='local')

In [6]:
e_vars = usa.enrich_variables

In [7]:
key_vars = e_vars[(e_vars.data_collection.str.startswith('Key')) & (e_vars.name.str.endswith('CY'))]

key_vars

,name,alias,type,vintage,data_collection,enrich_str,enrich_field_name
6445,TOTPOP_CY,2020 Total Population,COUNT,2020,KeyUSFacts,KeyUSFacts.TOTPOP_CY,KeyUSFacts_TOTPOP_CY
6447,GQPOP_CY,2020 Group Quarters Population,COUNT,2020,KeyUSFacts,KeyUSFacts.GQPOP_CY,KeyUSFacts_GQPOP_CY
6448,DIVINDX_CY,2020 Diversity Index,COUNT,2020,KeyUSFacts,KeyUSFacts.DIVINDX_CY,KeyUSFacts_DIVINDX_CY
6451,TOTHH_CY,2020 Total Households,COUNT,2020,KeyUSFacts,KeyUSFacts.TOTHH_CY,KeyUSFacts_TOTHH_CY
6453,AVGHHSZ_CY,2020 Average Household Size,COUNT,2020,KeyUSFacts,KeyUSFacts.AVGHHSZ_CY,KeyUSFacts_AVGHHSZ_CY
6454,MEDHINC_CY,2020 Median Household Income,CURRENCY,2020,KeyUSFacts,KeyUSFacts.MEDHINC_CY,KeyUSFacts_MEDHINC_CY
6456,AVGHINC_CY,2020 Average Household Income,CURRENCY,2020,KeyUSFacts,KeyUSFacts.AVGHINC_CY,KeyUSFacts_AVGHINC_CY
6458,PCI_CY,2020 Per Capita Income,CURRENCY,2020,KeyUSFacts,KeyUSFacts.PCI_CY,KeyUSFacts_PCI_CY
6462,TOTHU_CY,2020 Total Housing Units,COUNT,2020,KeyUSFacts,KeyUSFacts.TOTHU_CY,KeyUSFacts_TOTHU_CY
6464,OWNER_CY,2020 Owner Occupied HUs,COUNT,2020,KeyUSFacts,KeyUSFacts.OWNER_CY,KeyUSFacts_OWNER_CY
6466,RENTER_CY,2020 Renter Occupied HUs,COUNT,2020,KeyUSFacts,KeyUSFacts.RENTER_CY,KeyUSFacts_RENTER_CY
6468,VACANT_CY,2020 Vacant Housing Units,COUNT,2020,KeyUSFacts,KeyUSFacts.VACANT_CY,KeyUSFacts_VACANT_CY
6470,MEDVAL_CY,2020 Median Home Value,CURRENCY,2020,KeyUSFacts,KeyUSFacts.MEDVAL_CY,KeyUSFacts_MEDVAL_CY
6472,AVGVAL_CY,2020 Average Home Value,CURRENCY,2020,KeyUSFacts,KeyUSFacts.AVGVAL_CY,KeyUSFacts_AVGVAL_CY
6474,POPGRW10CY,2010-2020 Growth Rate: Population,PCT,2020,KeyUSFacts,KeyUSFacts.POPGRW10CY,KeyUSFacts_POPGRW10CY
6475,HHGRW10CY,2010-2020 Growth Rate: Households,PCT,2020,KeyUSFacts,KeyUSFacts.HHGRW10CY,KeyUSFacts_HHGRW10CY
6476,FAMGRW10CY,2010-2020 Growth Rate: Families,PCT,2020,KeyUSFacts,KeyUSFacts.FAMGRW10CY,KeyUSFacts_FAMGRW10CY
6482,DPOP_CY,2020 Total Daytime Population,COUNT,2020,KeyUSFacts,KeyUSFacts.DPOP_CY,KeyUSFacts_DPOP_CY
6483,DPOPWRK_CY,2020 Daytime Pop: Workers,COUNT,2020,KeyUSFacts,KeyUSFacts.DPOPWRK_CY,KeyUSFacts_DPOPWRK_CY
6484,DPOPRES_CY,2020 Daytime Pop: Residents,COUNT,2020,KeyUSFacts,KeyUSFacts.DPOPRES_CY,KeyUSFacts_DPOPRES_CY

In [8]:
key_vars._cntry

In [9]:
lvl_df = usa.cbsas.get('seattle').dm.level(0).get()
lvl_df

,ID,NAME,SHAPE
0,530530701003,530530701.003,"{""rings"": [[[-122.1652430000312, 47.0830489997..."
1,530530714071,530530714.071,"{""rings"": [[[-122.33136200011126, 47.064063999..."
2,530530714072,530530714.072,"{""rings"": [[[-122.35775599975194, 47.065219999..."
3,530530714073,530530714.073,"{""rings"": [[[-122.36863199991484, 47.053068000..."
4,530530714112,530530714.112,"{""rings"": [[[-122.4110792494156, 47.0717044998..."
...,...,...,...
2473,530610538024,530610538.024,"{""rings"": [[[-121.777775999485, 47.87856274954..."
2474,530610538031,530610538.031,"{""rings"": [[[-121.78676799983342, 47.882985999..."
2475,530610538032,530610538.032,"{""rings"": [[[-121.6917179989342, 47.8724519997..."
2476,530610538033,530610538.033,"{""rings"": [[[-121.69238799930403, 47.858326999..."
2477,530610538034,530610538.034,"{""rings"": [[[-121.60156199993993, 47.981276999..."

In [8]:
e_df = lvl_df.dm.enrich(key_vars)
e_df.head()

,ID,NAME,KeyUSFacts_TOTPOP_CY,KeyUSFacts_GQPOP_CY,KeyUSFacts_DIVINDX_CY,KeyUSFacts_TOTHH_CY,KeyUSFacts_AVGHHSZ_CY,KeyUSFacts_MEDHINC_CY,KeyUSFacts_AVGHINC_CY,KeyUSFacts_PCI_CY,...,KeyUSFacts_VACANT_CY,KeyUSFacts_MEDVAL_CY,KeyUSFacts_AVGVAL_CY,KeyUSFacts_POPGRW10CY,KeyUSFacts_HHGRW10CY,KeyUSFacts_FAMGRW10CY,KeyUSFacts_DPOP_CY,KeyUSFacts_DPOPWRK_CY,KeyUSFacts_DPOPRES_CY,SHAPE
0,530530701003,530530701.003,1771.0,4.0,29.0,583.0,3.03,88363.0,94785.0,31205.0,...,17.0,328656.0,328994.0,1.59,1.35,1.26,1456.0,427.0,1029.0,"{""rings"": [[[-122.1652430000312, 47.0830489997..."
1,530530714071,530530714.071,1665.0,0.0,54.6,512.0,3.25,104677.0,118179.0,36341.0,...,7.0,301613.0,393941.0,1.26,1.11,1.07,1350.0,388.0,962.0,"{""rings"": [[[-122.33136200011126, 47.064063999..."
2,530530714072,530530714.072,1523.0,6.0,60.6,489.0,3.10,73788.0,93871.0,30146.0,...,37.0,256776.0,261084.0,-0.17,-0.22,-0.27,1227.0,308.0,919.0,"{""rings"": [[[-122.35775599975194, 47.065219999..."
3,530530714073,530530714.073,1661.0,0.0,68.3,523.0,3.18,77773.0,107083.0,33717.0,...,15.0,201061.0,188318.0,0.54,0.50,0.47,1258.0,488.0,770.0,"{""rings"": [[[-122.36863199991484, 47.053068000..."
4,530530714112,530530714.112,1302.0,0.0,72.0,459.0,2.84,59957.0,77869.0,27451.0,...,25.0,247000.0,253741.0,2.27,2.21,1.94,1220.0,393.0,827.0,"{""rings"": [[[-122.4110792494156, 47.0717044998..."

In [9]:
biz_df = usa.business.get_by_name('ace hardware', usa.cbsas.get('seattle'))

biz_df.head()

,OBJECTID,LOCNUM,CONAME,STREET,CITY,STATE,STATE_NAME,ZIP,ZIP4,NAICS,...,SQFTCODE,LOC_NAME,STATUS,SCORE,SOURCE,REC_TYPE,SHAPE,id,brand_name,brand_name_category
0,894611,216082099,SOUTH END ACE HARDWARE,PACIFIC AVE S,SPANAWAY,WA,Washington,98387,8395,44413005,...,4,PointAddress,M,100.000000,INFOGROUP,0,"{""x"": -122.43443850000003, ""y"": 47.08713600000...",216082099,SOUTH END ACE HARDWARE,SOUTH END ACE HARDWARE
1,1632160,371889957,GRAHAM ACE HARDWARE,224TH ST E,GRAHAM,WA,Washington,98338,5704,44413005,...,5,PointAddress,M,100.000000,INFOGROUP,0,"{""x"": -122.29924949999995, ""y"": 47.05465500000...",371889957,GRAHAM ACE HARDWARE,GRAHAM ACE HARDWARE
2,5379592,460556608,OAKBROOK ACE HARDWARE,STEILACOOM BLVD SW,LAKEWOOD,WA,Washington,98498,6154,44413005,...,3,PointAddress,M,100.000000,INFOGROUP,0,"{""x"": -122.54611950000002, ""y"": 47.18077199999...",460556608,OAKBROOK ACE HARDWARE,OAKBROOK ACE HARDWARE
3,2624850,405129289,GIG HARBOR ACE HARDWARE,POINT FOSDICK DR,GIG HARBOR,WA,Washington,98335,1711,44413005,...,6,PointAddress,M,99.546875,INFOGROUP,0,"{""x"": -122.58131400000003, ""y"": 47.30224499999...",405129289,GIG HARBOR ACE HARDWARE,GIG HARBOR ACE HARDWARE
4,2484547,404324160,AGRISHOP ACE HARDWARE,S 12TH ST,TACOMA,WA,Washington,98405,3004,44413005,...,5,PointAddress,M,100.000000,INFOGROUP,0,"{""x"": -122.463747, ""y"": 47.24991900000006, ""sp...",404324160,AGRISHOP ACE HARDWARE,AGRISHOP ACE HARDWARE

In [10]:
comp_df = usa.business.get_competition(biz_df, usa.cbsas.get('seattle'), local_threshold=2)

comp_df.head()

,OBJECTID,LOCNUM,CONAME,STREET,CITY,STATE,STATE_NAME,ZIP,ZIP4,NAICS,...,SQFTCODE,LOC_NAME,STATUS,SCORE,SOURCE,REC_TYPE,SHAPE,id,brand_name,brand_name_category
0,1391610,303665954,CAPITOL LUMBER INC,KEY PENINSULA HWY NW,LAKEBAY,WA,Washington,98349,9327,44413005,...,3,PointAddress,M,100.0,INFOGROUP,0,"{""x"": -122.744898, ""y"": 47.340161999999985, ""s...",303665954,CAPITOL LUMBER INC,local_brand
1,11220705,740405810,CASCADE WHOLESALE HARDWARE,PACIFIC HWY SW,LAKEWOOD,WA,Washington,98499,1027,44413005,...,3,PointAddress,M,100.0,INFOGROUP,0,"{""x"": -122.51642849999998, ""y"": 47.142639, ""sp...",740405810,CASCADE WHOLESALE HARDWARE,local_brand
2,751596,175096239,LAKEWOOD HARDWARE & PAINT,LAKEWOOD DR SW,LAKEWOOD,WA,Washington,98499,3966,44413005,...,5,PointAddress,M,100.0,INFOGROUP,0,"{""x"": -122.50837799999996, ""y"": 47.17514700000...",175096239,LAKEWOOD HARDWARE & PAINT,local_brand
3,8587816,716987694,WILCO FARM STORES-GIG HARBOR,E HIGHWAY 20,GIG HARBOR,WA,Washington,98335,,44413005,...,3,Postal,M,85.0,INFOGROUP,0,"{""x"": -122.64751459999998, ""y"": 47.29498229999...",716987694,WILCO FARM STORES-GIG HARBOR,local_brand
4,3813730,425066759,MCLENDON HARDWARE INC,N PEARL ST,TACOMA,WA,Washington,98406,7921,44413005,...,7,PointAddress,M,100.0,INFOGROUP,0,"{""x"": -122.51411550000003, ""y"": 47.25932400000...",425066759,MCLENDON HARDWARE INC,MCLENDON HARDWARE INC